In [14]:
import pandas as pd

In [23]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [24]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [25]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [26]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [27]:
school_data_complete_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [28]:
school_data_complete_df.school_name.unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [45]:
Total_Schools=len(school_data_complete_df.school_name.unique())
Total_Schools

15

In [46]:
Total_Student=len(school_data_complete_df.student_name)
Total_Student

39170

In [38]:
total_budget_df=school_data_complete_df.budget.unique().sum()
total_budget_df

24649428

In [40]:
avg_math_df=school_data_complete_df.math_score.mean()
avg_math_df

78.98537145774827

In [41]:
avg_reading_df=school_data_complete_df.reading_score.mean()
avg_reading_df

81.87784018381414

In [83]:
passing_math=(school_data_complete_df["math_score"] >= 70).value_counts()/Total_Student*100
passing_math[1]

74.9808526933878

In [84]:
passing_reading=(school_data_complete_df["reading_score"] >= 70).value_counts()/Total_Student*100
passing_reading[1]

85.80546336482001

In [ ]:
school_data_complete_df["school_name"].value_counts()

In [ ]:
school_data_complete_df.budget.sum()
school_data_complete_df["student_name"].value_counts()

In [ ]:
df2=pd.DataFrame({'count':school_data_complete_df.count(),''})