In [133]:
import pandas as pd

In [134]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [135]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [136]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [137]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [138]:
school_data_complete_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [139]:
school_data_complete_df.school_name.unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [140]:
Total_Schools=len(school_data_complete_df.school_name.unique())
Total_Schools

15

In [141]:
Total_Students=len(school_data_complete_df.student_name)
Total_Students

39170

In [142]:
Total_Budget=school_data_complete_df.budget.unique().sum()
Total_Budget

24649428

In [143]:
Average_Math_Score=school_data_complete_df.math_score.mean()
Average_Math_Score

78.98537145774827

In [144]:
Average_Reading_Score=school_data_complete_df.reading_score.mean()
Average_Reading_Score

81.87784018381414

In [145]:
Passing_Math=(school_data_complete_df["math_score"] >= 70).value_counts()/Total_Student*100
Passing_Math[1]

74.9808526933878

In [146]:
Passing_Reading=(school_data_complete_df["reading_score"] >= 70).value_counts()/Total_Student*100
Passing_Reading[1]

85.80546336482001

In [147]:
Overall_Passing_Rate = (Average_Math_Score+Average_Reading_Score)/2
Overall_Passing_Rate

80.43160582078121

In [151]:
Final_df = pd.DataFrame({'Total Schools':Total_Schools,'Total Students':Total_Students,'Total Budget':Total_Budget,'Average Math Score':Average_Math_Score,'Average Reading Score':Average_Reading_Score,'% Passing Math':Passing_Math[1],'% Passing Reading':Passing_Reading[1],'% Overall Passing Rate':Overall_Passing_Rate}, index=[0])
Final_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606