In [273]:
import pandas as pd

In [274]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [275]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [276]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [277]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [278]:
Total_Schools=len(school_data_complete_df.school_name.unique())
Total_Schools

15

In [279]:
Total_Students=len(school_data_complete_df.student_name)
Total_Students

39170

In [280]:
Total_Budget=school_data_complete_df.budget.unique().sum()
Total_Budget

24649428

In [281]:
Average_Math_Score=school_data_complete_df.math_score.mean()
Average_Math_Score

78.98537145774827

In [282]:
Average_Reading_Score=school_data_complete_df.reading_score.mean()
Average_Reading_Score

81.87784018381414

In [283]:
Passing_Math=(school_data_complete_df["math_score"] >= 70).value_counts()/Total_Students*100
Passing_Math[1]

74.9808526933878

In [284]:
Passing_Reading=(school_data_complete_df["reading_score"] >= 70).value_counts()/Total_Students*100
Passing_Reading[1]

85.80546336482001

In [285]:
Overall_Passing_Rate = (Average_Math_Score+Average_Reading_Score)/2
Overall_Passing_Rate

80.43160582078121

In [286]:
District_Summary_df = pd.DataFrame({'Total Schools':Total_Schools,'Total Students':Total_Students,'Total Budget':Total_Budget,'Average Math Score':Average_Math_Score,'Average Reading Score':Average_Reading_Score,'% Passing Math':Passing_Math[1],'% Passing Reading':Passing_Reading[1],'% Overall Passing Rate':Overall_Passing_Rate}, index=[0])
District_Summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [287]:
Total_Schools=(school_data_complete_df.school_name.unique())
Total_Schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [288]:
School_Type=(school_data_complete_df.type.unique())
School_Type

array(['District', 'Charter'], dtype=object)

In [311]:
pass_math = school_data_complete_df["math_score"] >= 70
school_data_complete_df["Passing_Math"] = pass_math

pass_reading = school_data_complete_df["reading_score"] >= 70
school_data_complete_df["Passing_reading"] = pass_reading


school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Passing Math,Passing reading,Passing_Math,Passing_reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,True,True

In [312]:
school_summary=school_data_complete_df.groupby(["school_name","type"])
school_summary.school_name.count()

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: school_name, dtype: int64

In [313]:
Total_budget=school_summary.first().budget
Total_budget

school_name            type
Bailey High School     District    3124928
Cabrera High School    Charter     1081356
Figueroa High School   District    1884411
Ford High School       District    1763916
Griffin High School    Charter      917500
Hernandez High School  District    3022020
Holden High School     Charter      248087
Huang High School      District    1910635
Johnson High School    District    3094650
Pena High School       Charter      585858
Rodriguez High School  District    2547363
Shelton High School    Charter     1056600
Thomas High School     Charter     1043130
Wilson High School     Charter     1319574
Wright High School     Charter     1049400
Name: budget, dtype: int64

In [314]:
budget_per_stu=Total_budget/school_summary.school_name.count()
budget_per_stu

school_name            type
Bailey High School     District    628.0
Cabrera High School    Charter     582.0
Figueroa High School   District    639.0
Ford High School       District    644.0
Griffin High School    Charter     625.0
Hernandez High School  District    652.0
Holden High School     Charter     581.0
Huang High School      District    655.0
Johnson High School    District    650.0
Pena High School       Charter     609.0
Rodriguez High School  District    637.0
Shelton High School    Charter     600.0
Thomas High School     Charter     638.0
Wilson High School     Charter     578.0
Wright High School     Charter     583.0
dtype: float64

In [315]:
school_summary.math_score.mean()

school_name            type
Bailey High School     District    77.048432
Cabrera High School    Charter     83.061895
Figueroa High School   District    76.711767
Ford High School       District    77.102592
Griffin High School    Charter     83.351499
Hernandez High School  District    77.289752
Holden High School     Charter     83.803279
Huang High School      District    76.629414
Johnson High School    District    77.072464
Pena High School       Charter     83.839917
Rodriguez High School  District    76.842711
Shelton High School    Charter     83.359455
Thomas High School     Charter     83.418349
Wilson High School     Charter     83.274201
Wright High School     Charter     83.682222
Name: math_score, dtype: float64

In [316]:
school_summary.reading_score.mean()

school_name            type
Bailey High School     District    81.033963
Cabrera High School    Charter     83.975780
Figueroa High School   District    81.158020
Ford High School       District    80.746258
Griffin High School    Charter     83.816757
Hernandez High School  District    80.934412
Holden High School     Charter     83.814988
Huang High School      District    81.182722
Johnson High School    District    80.966394
Pena High School       Charter     84.044699
Rodriguez High School  District    80.744686
Shelton High School    Charter     83.725724
Thomas High School     Charter     83.848930
Wilson High School     Charter     83.989488
Wright High School     Charter     83.955000
Name: reading_score, dtype: float64

In [324]:
Passing_Math_School=school_summary.Passing_Math.count()/school_summary.school_name.count()*100
Passing_Math_School

school_name            type
Bailey High School     District    100.0
Cabrera High School    Charter     100.0
Figueroa High School   District    100.0
Ford High School       District    100.0
Griffin High School    Charter     100.0
Hernandez High School  District    100.0
Holden High School     Charter     100.0
Huang High School      District    100.0
Johnson High School    District    100.0
Pena High School       Charter     100.0
Rodriguez High School  District    100.0
Shelton High School    Charter     100.0
Thomas High School     Charter     100.0
Wilson High School     Charter     100.0
Wright High School     Charter     100.0
dtype: float64

In [329]:
count = 0
for row in school_summary:
    if school_summary['Passing_Math']==True:
        count+=1
        
count

0

In [335]:
math_grade_summary=school_data_complete_df.groupby(["school_name","grade"])
math_grade_summary.math_score.mean()

school_name            grade
Bailey High School     10th     76.996772
                       11th     77.515588
                       12th     76.492218
                       9th      77.083676
Cabrera High School    10th     83.154506
                       11th     82.765560
                       12th     83.277487
                       9th      83.094697
Figueroa High School   10th     76.539974
                       11th     76.884344
                       12th     77.151369
                       9th      76.403037
Ford High School       10th     77.672316
                       11th     76.918058
                       12th     76.179963
                       9th      77.361345
Griffin High School    10th     84.229064
                       11th     83.842105
                       12th     83.356164
                       9th      82.044010
Hernandez High School  10th     77.337408
                       11th     77.136029
                       12th     77.186567
                       9th      77.438495
Holden High School     10th     83.429825
                       11th     85.000000
                       12th     82.855422
                       9th      83.787402
Huang High School      10th     75.908735
                       11th     76.446602
                       12th     77.225641
                       9th      77.027251
Johnson High School    10th     76.691117
                       11th     77.491653
                       12th     76.863248
                       9th      77.187857
Pena High School       10th     83.372000
                       11th     84.328125
                       12th     84.121547
                       9th      83.625455
Rodriguez High School  10th     76.612500
                       11th     76.395626
                       12th     77.690748
                       9th      76.859966
Shelton High School    10th     82.917411
                       11th     83.383495
                       12th     83.778976
                       9th      83.420755
Thomas High School     10th     83.087886
                       11th     83.498795
                       12th     83.497041
                       9th      83.590022
Wilson High School     10th     83.724422
                       11th     83.195326
                       12th     83.035794
                       9th      83.085578
Wright High School     10th     84.010288
                       11th     83.836782
                       12th     83.644986
                       9th      83.264706
Name: math_score, dtype: float64

In [336]:
reading_grade_summary=school_data_complete_df.groupby(["school_name","grade"])
reading_grade_summary.reading_score.mean()

school_name            grade
Bailey High School     10th     80.907183
                       11th     80.945643
                       12th     80.912451
                       9th      81.303155
Cabrera High School    10th     84.253219
                       11th     83.788382
                       12th     84.287958
                       9th      83.676136
Figueroa High School   10th     81.408912
                       11th     80.640339
                       12th     81.384863
                       9th      81.198598
Ford High School       10th     81.262712
                       11th     80.403642
                       12th     80.662338
                       9th      80.632653
Griffin High School    10th     83.706897
                       11th     84.288089
                       12th     84.013699
                       9th      83.369193
Hernandez High School  10th     80.660147
                       11th     81.396140
                       12th     80.857143
                       9th      80.866860
Holden High School     10th     83.324561
                       11th     83.815534
                       12th     84.698795
                       9th      83.677165
Huang High School      10th     81.512386
                       11th     81.417476
                       12th     80.305983
                       9th      81.290284
Johnson High School    10th     80.773431
                       11th     80.616027
                       12th     81.227564
                       9th      81.260714
Pena High School       10th     83.612000
                       11th     84.335938
                       12th     84.591160
                       9th      83.807273
Rodriguez High School  10th     80.629808
                       11th     80.864811
                       12th     80.376426
                       9th      80.993127
Shelton High School    10th     83.441964
                       11th     84.373786
                       12th     82.781671
                       9th      84.122642
Thomas High School     10th     84.254157
                       11th     83.585542
                       12th     83.831361
                       9th      83.728850
Wilson High School     10th     84.021452
                       11th     83.764608
                       12th     84.317673
                       9th      83.939778
Wright High School     10th     83.812757
                       11th     84.156322
                       12th     84.073171
                       9th      83.833333
Name: reading_score, dtype: float64

In [239]:
Passing_Math_School =(school_summary["math_score"]>=70.value_counts()/school_summary.school_name.count()

#Passing_Math=(school_data_complete_df["math_score"] >= 70).value_counts()/Total_Student*100
Passing_Math_School[1]

TypeError: '>=' not supported between instances of 'tuple' and 'int'

In [190]:
school_summary.first()

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,,,,
Bailey High School,District,17871,Blake Martin,M,9th,75,59,7,4976,3124928
Cabrera High School,Charter,16013,Olivia Short,F,11th,94,94,6,1858,1081356
Figueroa High School,District,2917,Amy Jacobs,F,10th,85,87,1,2949,1884411
Ford High School,District,34796,Michael Mercado,M,9th,66,94,13,2739,1763916
Griffin High School,Charter,12262,Heather Wright,F,11th,79,68,4,1468,917500
Hernandez High School,District,7627,Russell Davis,M,10th,70,88,3,4635,3022020
Holden High School,Charter,22847,Daniel Rodriguez,M,11th,86,92,8,427,248087
Huang High School,District,0,Paul Bradley,M,9th,66,79,0,2917,1910635
Johnson High School,District,30035,Lisa Casey,F,12th,87,87,12,4761,3094650
Pena High School,Charter,23274,Alec Davis,M,9th,91,75,9,962,585858
Rodriguez High School,District,26036,Sherry Jenkins,F,11th,74,81,11,3999,2547363
Shelton High School,Charter,5866,Jamie Montgomery,F,12th,70,91,2,1761,1056600
Thomas High School,Charter,37535,Norma Mata,F,10th,76,76,14,1635,1043130
Wilson High School,Charter,13730,Kelli Anderson,F,10th,84,71,5,2283,1319574
Wright High School,Charter,24236,Aaron Johnson,M,10th,89,72,10,1800,1049400

In [186]:
newdf=pd.DataFrame.groupby(["school_summary.school_name.count","Total_budget"])

TypeError: You have to supply one of 'by' and 'level'